<% if current_user %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:
    <button type="submit" name="submit">submit</button>

  </form>

<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>

