<div>
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="password" name="password" placeholder="Min. 8 characters">
    <button type="submit" value="Sign Up">submit</button>
  </form><br>
  <a href="/">Main</a>
</div>